<div class="hero-unit">
	<% if signed_in? %>
		<h2>Chào <%= current_user.name %></h2>
		<p>Bạn đã dịch được <%= current_user.num_translate %> cau</p>
		<div>
			<%= image_tag("sweet_kiss.png", :class => "image")%>
			<h3>Tiếp tục giúp mình nhé ?</h3>
		</div>
			<%= link_to "Dịch thế thôi", "/byebye", class: "btn btn-large btn-warning" %>
			<%= link_to "Ờ", edit_scripts_path(), class: "btn btn-large btn-success" %>
	<% else %>
		<h2>Chào bạn</h2>
		<p>Mình là Toàn, lớp K54CA, hiện nay mình đang cần dịch 10000 từ Tiếng Anh để phục vụ cho bài tập lớn môn Xử lí ngôn ngữ tự nhiên. Rất mong các bạn có thể bớt chút thời gian dịch cùng mình để mình có thể hoàn thành kịp tiến độ. Mình xin cảm ơn !^^!</p>
		<%= link_to "Đi vào rồi lại đi ra", "#", :class => "btn btn-large btn-warning fancybox" %>
		<%= link_to "Rất sẵn sàng", edit_scripts_path(), :class => "btn btn-large btn-success input_name" %>
	<% end %>

</div>

<div style="display:none">
	<div id="inline">
		<%= image_tag("too_sad.png", :class => "image")%>
		<h2>Sao nỡ phụ lòng nhau</h2>
		<p class="link">
			<%= link_to "Kệ cmm", "http://mp3.zing.vn/bai-hat/Sao-no-danh-phu-nhau-Truong-Vu/IWZB7BCO.html", 
				:class => "btn btn-danger" %>
			<% if signed_in? %>
				<%= link_to "Dịch 1 tẹo vậy", edit_scripts_path(), :class => "btn btn-success" %>
			<% else %>
				<%= link_to "Dịch 1 tẹo vậy", edit_scripts_path(), :class => "btn btn-success input_name" %>
			<% end %>
		</p>
	</div>
</div>

<div style="display:none">
	<div id="inline-form">
		<%= render 'users/form' %>
	</div>
</div>

<h2>Translated: <%= @translated.count %>/<%= @scripts.count %> sentences</h2>

<div class="translated_scripts">
	<%= render @translated_scripts %>
</div>

<script type="text/javascript">
	$("a.fancybox").fancybox({
        'href'   : '#inline',
        'titleShow'  : false,
        'transitionIn'  : 'elastic',
        'transitionOut' : 'elastic'
    });

    $(".input_name").fancybox({
    	'href'   : '#inline-form'
    });

    (function() {
	  	var page = 1,
	    	loading = false;

	  	function nearBottomOfPage() {
	    	return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
	  	}

	  	$(window).scroll(function(){
	   	 	if (loading) {
	      		return;
	    	}

	    	if(nearBottomOfPage()) {
	     	 	loading=true;
		     	page++;
		      	$.ajax({
		       		url: '/?page=' + page,
		        	type: 'get',
		        	dataType: 'script',
		        	success: function() {
		          	$(window).sausage('draw');
		          		loading=false;
		       		}
		        });
			}
		});

		$(window).sausage();
	}());
</script>